.image-collection {
  margin: auto;
width: 60vw;
text-align: center;

  }
 .Add-Name-Message{
  color: #05bd14;
  margin: 0;
    padding: 10px;
 }
  .image-collection.drag-over {
    border-color: #007bff;
    
  }
 
  
  .image-collection input {
    width: 60vw;
    
  }
  .image-for-upload{
    width: 150px;
    height: 150px;
  }
  @media screen and (max-width: 720px) {
    .image-collection {
    flex-direction: column;
      }
      .image-collection input {
        width: 80vw;
      }
      .image-collection {
        margin: auto;
      width: 90vw;
        }
  }