.image-collection {
  margin: auto;
width: 60vw;
  }
  .image-collection
  {
    
  }
  .image-collection.drag-over {
    border-color: #007bff;
    
  }
  
  .image-collection p {
    margin: 0;
    padding: 10px;
  }
  
  .image-collection input {
    width: 60vw;
    
  }
  .image-for-upload{
    width: 150px;
    height: 150px;
  }
  @media screen and (max-width: 720px) {
    .image-collection {
    flex-direction: column;
      }
      .image-collection input {
        width: 80vw;
      }
  }