
 
.cards-holder{
 
}
/*
@media screen and (max-width: 1100px) {
 
  .cards-holder{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  
}
@media screen and (max-width: 820px) {
 
  .cards-holder{
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  
}
@media screen and (max-width: 520px) {
 
  .cards-holder{
    grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
 
  }
  
} */