*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  border: none;
}

main {
  padding: 0;
margin: 0;
padding-top: 6rem;
min-height: 80vh;
}